<div class="main-information-contacts-container">
  <div class="inside-info-container">
    <div class="contacts">
      <h1>Контакты</h1>
      <div class="call">
        <i class="material-icons icon-call">call</i>
        <span>(+38)050-000-00-00</span>
      </div>
      <div class="social">
        <a href="https://www.instagram.com/_anita_kuropata_/" target="_blank">
          <svg class="social-icons" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
               viewBox="0 0 16 16">
            <path [attr.d]=icons.instagram></path>
          </svg>
        </a>
        <a href="https://www.instagram.com/_anita_kuropata_/" target="_blank">
          <svg class="social-icons" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
               viewBox="0 0 16 16">
            <path [attr.d]=icons.facebook></path>
          </svg>
        </a>
        <svg class="social-icons" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
             viewBox="0 0 16 16">
          <path [attr.d]=icons.telegram></path>
        </svg>
      </div>
    </div>
    <div class="footer-logo-container">
      <div class="logo">
        <img id="logo-photo"
             src="https://firebasestorage.googleapis.com/v0/b/angular-manicure.appspot.com/o/icons8-%D0%BD%D0%BE%D0%B3%D1%82%D0%B8-100%20(2).png?alt=media&token=0ab2288d-0af2-44e9-9f6b-ee4efe0c938f"
             alt="Не удалось загрузить фото">
        <div class="logo-text">
          <h1>Beauty Hands ZP</h1>
          <h2>С заботой о вас и ваших руках
            <span class="material-icons">favorite_border</span>
          </h2>
        </div>
      </div>
    </div>
    <div class="tech-support">
      <h2>Проблема с сайтом?</h2>
      <div class="call">
        <i class="material-icons icon-call">call</i>
        <span>(+38)050-000-00-00</span>
      </div>
      <div class="social">
        <a href="https://www.instagram.com/_anita_kuropata_/" target="_blank">
          <svg class="social-icons" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
               viewBox="0 0 16 16">
            <path [attr.d]=icons.instagram></path>
          </svg>
        </a>
        <a href="https://www.instagram.com/_anita_kuropata_/" target="_blank">
          <svg class="social-icons" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
               viewBox="0 0 16 16">
            <path [attr.d]=icons.facebook></path>
          </svg>
        </a>
        <svg class="social-icons" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
             viewBox="0 0 16 16">
          <path [attr.d]=icons.telegram></path>
        </svg>
      </div>
    </div>
  </div>
</div>
